.DS_Store
.idea/
.vscode/
node_modules/

docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/.temp
.firebase/

docs/public/llms.txt
docs/public/llms-full.txt

package-lock.json
firebase-debug.log
